# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Database
db/*.db

# OS files
.DS_Store
Thumbs.db

# VS Code temporary files
src/tempCodeRunnerFile.py

# Local testing scripts
src/check_analysis1.py

# Local test/debug scripts
src/check_*.py
