# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Database
db/*.db

# OS files
.DS_Store
Thumbs.db
